body {
    margin: 0px;
    font-family: verdana;
    font-size: 12px;
    text-align: center;
}

img {
    width: 100px;
}

#hero {
    background-image: url("images/borama.jpg");
    background-size: cover;
    padding: 80px 0px 120px 0px;
}

#title {
    background-color: #155c4c;
    color: white;
    padding: 4px 12px;
    border-radius: 5px;
    margin: 0px;
}

#subtitle {
    background-color: #0e6629;
    color: white;
    padding: 4px 12px;
    border-radius: 5px;
    margin-top: 15px;
}